<%= render 'shared/page_title', title: "Chef: " + @chef.chefname %>

    <% if logged_in? and current_user.admin? %>
      <%= link_to "Delete this Chef", @chef, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right"%> &nbsp;
      <%= link_to "Edit Profile", edit_chef_path(@chef), class: "btn btn-primary pull-right" %>
      
    <% end %> 
    
    <% if Follower.exists?(chef_id:@chef.id, follower_id: current_user.id) %>
      <%= link_to "Unfollow", unfollow_chef_path(@chef), class: "btn btn-lg btn-warning pull-right" %>
    <% else %>
      <%= link_to "Follow", follow_chef_path(@chef), class: "btn btn-lg btn-primary pull-right" %>
    <% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @chef, size: 200 %>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3><em>Recipes:</em></h3>
    <%= will_paginate @recipes %>
  </div>
</div>

<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-lg-6 well col-lg-offset-3">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      <p>
        <span class='quiet'><small> created: <%= time_ago_in_words(recipe.created_at) %> ago, </small></span>
        <span class='quiet'><small> updated: <%= time_ago_in_words(recipe.updated_at) %> ago</small></span>
      </p>
      <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3><em>Following:</em></h3>
  </div>
</div>

<% if @following == nil %>
  <h3> You are not following anyone! </h3>
<% else %>
  <% @following.each do |follower| %>
  <% chef = Chef.find(follower.chef_id) %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 center">
        <%= link_to gravatar_for(chef, size: 200), chef_path(chef) %>
        <p>
          <h5>Chef name: <%= chef.chefname %></h5>
        </p>
      </div>
    </div>
  <% end %>
<% end %>